/* Product grid */


.product-item {
	width: 90%;
	margin: 0 auto;
	height: auto;
	display: block;
}

.thumbnail {
display: inline-block;
float: left;
width: 23%;
margin: 1%;
height: 470px;
}

.caption {
	display: inline-block;
	width: 100%;
}

.image-wrapper {
	height: 380px;
	border: 1px solid black;
}

.activator {
	display: block;
	max-height: 300px;
	margin: 0 auto;
	width: auto;
	max-width: 100%;
	height: auto;
	position: inherit;
}

img {
	position: relative;
}

.unbrandedName {
	font-size: 18px;
	margin-top: 10px;
	text-align: center;
	position: relative;
}


.product-name {
	margin: 10px;
	height: 50px;
}

.buttons {
	margin-top: 20px;
	position: absolute;
}
