/* Product grid */


.product-item {
	width: 200px;
	height: 300px;
	display: inline-block

}

.thumbnail {
display: inline-block;
position: relative;
float: left;
}

.caption {
	display: inline-block;

}

.activator {
	display: inline-block;
	float: left;
	position: relative;
}
