ul.ldd_menu{
	margin:0px;
	padding:0;
	display:block;
	height:50px;
	background-color:#FFF;
	list-style:none;
  color: #fff;
	font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	border-top:1px solid #131415;
	border-bottom:1px solid #131415;
	border-left:1px solid #131415;
  position: absolute;
  z-index: 1;

}

.box {
	width: 100%;
}

#ldd_menu {
	width: 100%;
}
ul.ldd_menu a{
	text-decoration:none;
}
ul.ldd_menu > li{
	float:left;
	position:relative;
}
ul.ldd_menu > li > span{

	color:#fff;
	background: #24252a;
	height:30px;
	width: 100%;
	line-height:30px;
	cursor:default;
	padding:1px 20px;
	text-shadow: 0px; 0px; 1px #fff;
	border-right:1px solid #000;
	border-left:1px solid #000;
	border-radius: 10px;
	z-index: 1;
	position:fixed;
}
ul.ldd_menu .ldd_submenu{
	position:absolute;
	top:30px;
	width:100em;
	display:none;
	opacity:0.95;
	left:0px;
	font-size:10px;
	background: #fff;
	border-top:1px solid #000;
	-moz-box-shadow:0px 3px 4px #fff inset;
	-webkit-box-shadow:0px 3px 4px #fff inset;
	-box-shadow:0px 3px 4px #fff inset;
	overflow: scroll;

	height: 500px;

}
a.ldd_subfoot{
	background-color:#f0f0f0;
	color:#444;
	display:block;
	clear:both;
	padding:15px 20px;
	text-transform:uppercase;
  font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	font-size:12px;
	text-shadow:0px 0px 1px #000;
	-moz-box-shadow:0px 0px 2px #777 inset;
	-webkit-box-shadow:0px 0px 2px #777 inset;
	-box-shadow:0px 0px 2px #777 inset;
	z-index: 1;
	position: relative;
	width: 3000px;


}
ul.ldd_menu ul{
	list-style: none;
	float:left;
	border-left:1px solid #000;
	margin:20px 0px 10px 30px;
	padding:10px;
	z-index: 1;
	position: relative;
}
li.ldd_heading{
	font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-style: italic;
	color:#000;
	padding:0px 0px 10px 0px;
	z-index: 1;
	position:relative;
}

ul.ldd_menu ul li a{
	font-family: Arial, serif;
	font-size:10px;
	line-height:20px;
	color:#000;
	padding:1px 3px;
	z-index: 1;
	position: relative;
}
ul.ldd_menu ul li a:hover{
	background:#fff;
	z-index: 1;
	position: relative;

}

*{
    padding:0;
    margin:0;
}

span.reference{
    position:relative;
    left:10px;
    bottom:10px;
    font-size:11px;
		z-index: 1;
		position: relative;
}
span.reference a{
    color:#DF7B61;
    text-decoration:none;
    text-transform: uppercase;
    text-shadow:0 1px 0 #fff;
}
span.reference a:hover{
    color:#000;
}

#limheight {
    height: 2000px;
		width: 500px; /*your fixed height*/
    -webkit-column-count: 5;
       -moz-column-count: 5;
            column-count: 5; /*3 in those rules is just placeholder -- can be anything*/
}
#limheight li {
    display: inline-block; /*necessary*/
}
