<nav class="nav_bar">
  <div class="nav_left">
    <!-- Logo image -->
    <a href="/"><img id="logo_nav" src="../images/le_closet_logo.png" alt="company logo" /></a>
  </div>

  <div>
        <!-- User info -->

        <div class="nav_container_2">

          <p class="user_greeting"><strong>Welcome:</strong> <$= user.name $></p>


          <!-- LogOut -->
          <div id="log_out" class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
            <button class="header_button" type="button">Log Out</button>

          </div>
        </div>


      <div class="nav_container_1">
        <ul class="">
          <li><a href="/profile">My Closet</a></li>
          <li><a href="/products">Search</a></li>
        </ul>
      </div>

  </div>
</nav>
