<!-- HOME PAGE -->
<nav class="nav_bar">
  <div class="nav_left">
    <!-- Logo image -->
    <a href="/">
      <img id="logo_nav" src="../images/le_closet_logo.png" alt="company logo" />
    </a>
  </div>

  <div>
    <$ if (user) { $>
      <!-- My Closet -->
      <div class="nav_container_2">
        <div id="my_closet" class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
          <button class="header_button" type="button">My Closet</button>
        </div>

        <strong class="joiner">or</strong>

        <!-- LogOut -->
        <div id="log_out" class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
          <button class="header_button" type="button">Log Out</button>
        </div>
      </div>

    <$ } else { $>
        <!-- Login -->
      <div class="nav_container_2">
        <div id="modal_login1" class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
          <button class="header_button" type="button">Login</button>
          <div class="morph-content">
            <div>
              <div class="content-style-form content-style-form-1">
                <span class="icon icon-close x">X</span>
                <img class="logo_modal" src="../images/le_closet_logo.png" alt="company logo" />
                <h4 class="center_me modal_header">Welcome Home</h4>

                <a href="#" id="login" ><img class="google" src="../images/sign-in.png" alt="" /></a>

                <form class="login_form_hidden">
                  <p>
                    <label>Gender</label>
                    <select id="user_gender1" name="Gender">
                      <option value="nul">- -</option>
                      <option value="Male"> Male </option>
                      <option value="Female"> Female </option>
                    </select>
                  </p>

                  <p>
                    <label>Retailer You Like 1</label>
                    <select id="retailer1" name="Retailer 1">
                      <option value="retailer"> - - </option>
                      <$ retailers.forEach(function(retailer) { $>
                        <option value="<$= retailer.name $>" data-id="<$= retailer.id $>">
                          <$= retailer.name $>
                        </option>
                      <$ }) $>
                    </select>
                  </p>

                  <p>
                    <label>Retailer You Like 2</label>
                    <select id="retailer2" name="Retailer 2">
                      <option value="retailer"> - - </option>
                      <$ retailers.forEach(function(retailer) { $>
                        <option value="<$= retailer.name $>" data-id="<$= retailer.id $>">
                          <$= retailer.name $>
                        </option>
                      <$ }) $>
                    </select>
                  </p>

                  <p><button id="lets_do_this1">Lets Do This</button></p>
                </form>

              </div>
            </div>
          </div>
        </div>

        <strong class="joiner">or</strong>

        <!-- Register -->
        <div id="modal_login2" class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
          <button class="header_button" type="button">Register</button>
          <div class="morph-content">
            <div>
              <div class="content-style-form content-style-form-1">
                <span class="icon icon-close x">X</span>
                <img class="logo_modal" src="../images/le_closet_logo.png" alt="company logo" />
                <h4 class="center_me modal_header">Join Le Community</h4>

                <a href="#" id="register" ><img class="google" src="../images/sign-in.png" alt="" /></a>

                <form class="login_form_hidden">
                  <p>
                    <label>Gender</label>
                    <select id="user_gender2" name="Gender">
                      <option value="nul">- -</option>
                      <option value="Male"> Male </option>
                      <option value="Female"> Female </option>
                    </select>
                  </p>

                  <p>
                    <label>Retailer You Like 1</label>
                    <select id="retailer3" name="Retailer 1">
                      <option value="retailer"> - - </option>
                      <$ retailers.forEach(function(retailer) { $>
                        <option value="<$= retailer.name $>" data-id="<$= retailer.id $>">
                          <$= retailer.name $>
                        </option>
                      <$ }) $>
                    </select>
                  </p>

                  <p>
                    <label>Retailer You Like 2</label>
                    <select id="retailer4" name="Retailer 2">
                      <option value="retailer"> - - </option>
                      <$ retailers.forEach(function(retailer) { $>
                        <option value="<$= retailer.name $>" data-id="<$= retailer.id $>">
                          <$= retailer.name $>
                        </option>
                      <$ }) $>
                    </select>
                  </p>

                  <p><button id="lets_do_this2">Lets Do This</button></p>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    <$ } $>
      <div class="nav_container_1">
        <ul class="">
          <li><a href="#about">About</a></li>
          <li><a href="#le_closet">Le Closet</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
  </div>
</nav>

<!--
|||||||||||||||||||||||||||||||||||||||||
HEADER
|||||||||||||||||||||||||||||||||||||||||
-->

<header id="headerOne">
  <div class="container">
    <h5 class="hero_subheading">Retail therapy stored in one place</h5>
    <h1 class="hero_heading">What's in your closet?</h1>
  </div>
</header>

<!--
|||||||||||||||||||||||||||||||||||||||||
ABOUT
|||||||||||||||||||||||||||||||||||||||||
-->
<section id="about">
  <div class="container">
    <div class="col-lg-12">
      <h2 class="section_heading">\ About \</h2>

      <div class="col-lg-4">
        <h4 class="subheading">Inspiration</h4>
        <img src="" alt="" />
        <p>
          We translate fashion inspiration to your convenience, all in one place. Our diverse selection of online retailers makes it easy for you to shop online. Not sure what you're looking for? Browse through Le Closet, save your outfits, and discover your next favorite fashion trend.
        </p>
      </div>

      <div class="col-lg-4">
        <h4 class="subheading">Collaboration</h4>
        <img src="" alt="" />
        <p>
          The appearence of online stores is rapidly gaining in momentum. We provide a collaboration of your favorite brands and retailers in one central place. By making online shopping more organized and efficient, we provide the opportunity for you to curate outfits, share with friends, and have a personal dialogue with the brands you love.
        </p>
      </div>

      <div class="col-lg-4">
        <h4 class="subheading">Quality</h4>
        <img src="" alt="" />
        <p>
        Choose from our seletion of quality retailers that are up to date with the latest trends in fashion. Our database of online retailers are carefully curated from a diverse range of brands that have a long-lasting reputation for producing quality items in fashion.
        </p>
      </div>
    </div>
  </div>
</section>

<!--
|||||||||||||||||||||||||||||||||||||||||
LE CLOSET
|||||||||||||||||||||||||||||||||||||||||
-->
<section id="le_closet">
  <div class="container">
    <h2 class="section_heading">\ Le Closet \</h2>

    <div class="col-lg-12">
      <div class="col-lg-6 block_one">
        <h4 class="subheading" id="titleone">Search Your Favorite Brands</h4>
        <p>
          Le Closet makes it convenient for you to find your filter your favorite brands, and search for the clothes you love, all in one place. Our selection of online retailers makes it easier for you to compare clothes, prices, and discover new products.
        </p>
      </div>
      <div class="col-lg-6">
        <img class="homepage_image" src="../images/search.png"  alt="" />
      </div>
    </div>

    <div class="col-lg-12">
      <div class="col-lg-6">
        <img class="homepage_image" src="../images/products.png"  alt="" />
      </div>
      <div class="col-lg-6 block_two">
        <h4 class="subheading" id="titletwo">Find Your Favorite Products</h4>
        <p>
          Search for your favorite products across brands and retailers. Le closet makes it easy for you to find your favorite products and store them easily with our wide range of filter features.
        </p>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="col-lg-6 block_three">
        <h4 class="subheading" id="titlethree">Create the Perfect Outfit</h4>
        <p>
          Buy products immediately, or save in your virtual shopping cart and build your own closet. Go back to your closet profile to make future purchases, or reference back for outfit inspiration.
        </p>
      </div>
      <div class="col-lg-6">
        <img class="homepage_image" src="../images/last.png"  alt="" />
      </div>
    </div>

  </div>
</section>

<!--
|||||||||||||||||||||||||||||||||||||||||
CONTACT
|||||||||||||||||||||||||||||||||||||||||
-->
<section id="contact">
  <div class="container">
    <div class="col-lg-12">
      <h2 class="section_heading">\ Contact \</h2>
      <div class="col-lg-4">
        <img src="../images/Kayli.png" alt="" class="founder_image"/>
        <h3 class="subheading">Kayli Nishime</h3>
        <h5 class="center_me">Founder</h5>
        <p class="center_me">
          <a href="https://www.facebook.com/KayliNishime">Faceboook</a> -
          <a href="https://www.instagram.com/KayliNishime/">Instagram</a> -
          <a href="https://www.linkedin.com/in/kaylinishime">LinkedIn</a>
        </p>
        <p>
          Currently a Los Angeles based web developer with a background in animal science and visual arts. My drive and passion lies in creating meaningful and influential work. Taking the Web Development Immersive course at the General Assembly Los Angeles has enabled me to apply my strengths in technology and research to create purposeful websites.<br><br><br>



          TECHNICAL SKILLS<br>
          Languages: Javascript, Ruby, HTML5, CSS3 <br>
          Web-Application Frameworks: Node.js + Express, Rails <br>
          Front-End Frameworks: Angular <br>
          Front-End Libraries: jQuery, Bootstrap <br>
          Databases: PostgreSQL, MongoDB <br>
          Version Control: Git and GitHub <br>
          Web Design: Adobe Photoshop, InDesign, Illustrator, Lightroom
        </p>
      </div>

      <div class="col-lg-4">
        <img src="../images/Chris.jpg" alt="" class="founder_image"/>
        <h3 class="subheading">Christopher Lopez</h3>
        <h5 class="center_me">Founder</h5>
        <p class="center_me">
          <a href="https://www.facebook.com/christopper03">Faceboook</a> -
          <a href="https://twitter.com/christopper03">Twitter</a> -
          <a href="https://www.linkedin.com/in/chrisalopez">LinkedIn</a>
        </p>
        <p>
          Before I even knew what Web Development entailed, I worked as the sole IT support member for a 50+ staffed company located in Los Angeles and Las Vegas for over 2 years. Currently, General Assembly is giving me the perfect environment to do what I enjoy: learn and grow about Web Development. <br><br><br>



          TECHNICAL SKILLS<br>
          Languages: Javascript, Ruby, HTML5, CSS3 <br>
          Web-Application Frameworks: Node.js + Express, Rails <br>
          Front-end Framework: Angular <br>
          Front-End Library: jQuery, Bootstrap <br>
          Databases: PostgreSQL, MongoDB <br>
          Testing Libraries:  <br>
          Object Relational/Document Mappers: Active Record, Mongoose <br>
          CSS precompilers: SaSS <br>
          Version Control: Git & GitHub <br>
        </p>
      </div>

      <div class="col-lg-4">
        <img src="../images/billy.jpg" alt="" class="founder_image"/>
        <h3 class="subheading">Billy Pruden</h3>
        <h5 class="center_me">Founder</h5>
        <p class="center_me">
          <a href="https://www.facebook.com/billypruden">Faceboook</a> -
          <a href="https://www.instagram.com/billypruden/">Instagram</a> -
          <a href="https://www.linkedin.com/in/billy-pruden">LinkedIn</a>
        </p>
        <p>
          With 10 years of experience working with start ups I have decided to add another skill to the tool belt by attending General Assembly to pursue a career as a Full Stack Web Developer. Now with a strong grasp on a multitude of technologies we have created a one stop shop for consumers to search, arrange and purchase some of their favorite clothes from their favorite shops.
        </p>
      </div>

    </div>
  </div>
</section>

<$ include ../views/partials/footer.ejs $>
