/* Product grid */


.product-item {
	width: 90%;
	margin: 0 auto;
	height: auto;
	display: block;
	margin-top: 5%;
}

.thumbnail {
display: inline-block;
float: left;
width: 23%;
margin: 1%;
height: 470px;
}

.caption {
	display: inline-block;
	width: 100%;
}



.activator {
	display: block;
	max-height: 300px;
	margin: 0 auto;
	width: auto;
	max-width: 100%;
	height: auto;
	position: inherit;
}

img {
	position: relative;
}

.image-wrapper {
	height: 280px;
	position: inherit;
}

.unbrandedName {
	font-size: 14px;
	margin-top: 30px;
	text-align: center;
	position: relative;
	font-weight: bold;
}

.info-wrapper {
	height: 50px;
	position: inherit;
}

.price {
	line-height: 16px;
	text-align: center;
}

.retailer{
	line-height: 6px;
	text-align: center;
}

.product-name {
	height: 50px;
}

.buttons {
	margin-top: 40px;
	position: absolute;
}
