*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
  background-color: white;
  font: 14px 'Raleway', sans-serif;
  font-weight: 200;
  line-height: 1.4em;
}
header {
  margin-top: 100px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
select {
  width: 100%;
  font-size: 2em;
}
.header_button:hover {
  border: solid 1px #3482E2;
	color: #3482E2;
}

#headerOne {
  background: url(../images/header1.jpg) no-repeat;
  margin-top: 100px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h1 {
 font-size: 5em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2.5em;
}
h4 {
  font-size: 2em;
}
h5 {
  font-size: 1.5em;
}
h6 {
  font-size: 1em;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5em;
  margin-top: 0;
}
a {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1em;
  line-height: 30px;
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #606060;
}
li {
   float: left;
   display: inline;
   margin: .5em;
}
ul {
   list-style-type: none;
}
footer {
  height: 100px;
  background-color: white;
  margin-top: 25px;
  clear:both;
}
section {
 padding-top: 10px;
 padding-bottom: 50px;
}
#logo_nav {
  width:130px;
  margin: 10px;
  margin-left: 45px;
}
.user_greeting {
  display: inline;
  margin-left: 28px;
  font-size: 1em;
  font-weight: 400;
}
.logo_modal {
  width:250px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 25px;
  clear: both;
}
.comment_link {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  line-height: 30px;
  color: #F0C637;
  text-decoration: none;
}
.section_heading{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  line-height: 30px;
  margin-top: .4em;
  margin-bottom: .6em;
  text-align: center;
}
.hero_heading{
  font-family: 'Raleway', sans-serif;
  font-size: 7em;
  font-weight: 800;
  text-align: center;
  margin-bottom: 3.5em;
  color: white;
}
.hero_subheading{
  font-family: 'Raleway', sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  text-align: center;
  margin-top: 7.2em;
  margin-bottom: .5em;
  color: white;
}

.custom_subheading{
 font-family: 'Raleway', sans-serif;
 text-align: center;
 font-weight: 400;
 margin-top: 11em;
 margin-bottom: 2.5em;
}

.subheading {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: 400;
  margin: .4em;
}

.founder_image {
  min-width: 80%;
  max-width: 80%;
  margin: 0 auto;
  display: block;
  border-radius: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.home_button {
  display: inline;
  margin: 10px;
}

.button_container {
 margin: 1em;
 text-align: center;
}

.buttom_margin {
 margin-top: 70px;
 margin-bottom: 20em;
}

.standard_button {
 padding: 9px 33px;
 background-color: #F0C637;
 border: solid 1px #BC9B28;
 border-radius: 6px;
 font-size: 1.2em;
 font-family: 'Raleway', sans-serif;
 color: white;
}

.standard_button:hover {
 background-color: white;
 color: #606060;
}

.nav_left {
 float: left;
}

.nav_bar {
 position:fixed;
 height: 100px;
 width: 100%;
 margin-top: -100px;
 background-color: white;
 z-index: 1;
}

.nav_bar_user {
 position:fixed;
 height: 90px;
 width: 100%;
 background-color: #F0C637;
 z-index: 1;
}

.nav_container_1 {
  display: inline-block;
  margin-top: 38px;
  float: right;
}

.nav_container_2 {
  display: inline-block;
  margin-top: 25px;
  margin-right: 40px;
  float: right;
}
.google {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 28px;
  margin-top: 28px;
  display: block;
}
.login_form_hidden {
  display: none;
}

.login_form_show {
  display: block;
}

#about, #contact {
 background-color: #eee;
}

#le_closet {
 background-color: white;
}

#about, #le_closet, #contact {
   border-top: 95px solid transparent;
   margin-top: -95px;
   -webkit-background-clip: padding-box;
   -moz-background-clip: padding;
   background-clip: padding-box;
}

.field {
 margin-bottom: 25px;
}

.center_me {
 text-align: center;
}

.wrapper {
 width: 85%;
 margin: 0 auto;
}

.text_left {
 text-align: left;
}

.block_left {
 float: left;
}

.block_right {
 float: right;
}

.footer_font {
  font-weight: 400;
  text-align: center;
  padding-top: 45px;
}

.home_page_icon {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}

#titleone {
  text-align: left;
  margin-left: 0;
}

#titletwo {
  text-align: right;
  margin-right: 26px;
}

#titlethree {
  text-align: left;
  margin-left: 0;
}

#middle {
  text-align: right;
}

#titleone,
#titletwo,
#titlethree {
  margin-top: 20px;
}

.block_one {
  margin-top: 30px;
}
.block_two {
  margin-top: 170px;
}
.block_three {
  margin-top: 60px;
}
