<!DOCTYPE html>
<html>
  <head>
    <title>LeCloset</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:300italic,300,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->

  </head>

  <body>
    <!-- HOME PAGE -->
    <nav class="nav_bar">
        <div class="nav_left">
          <!-- Logo image -->
          <img src="" alt="" />
        </div>

        <div class="nav_right">
          <ul class="">
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#program">THE CLOSET</a></li>
            <li><a href="#stories">CONTACT</a></li>
            <li><a href="/users/sign_in">LOG IN</a></li>
            <li><span> or </span></li>
            <li><a href="/users/sign_in">REGISTER</a></li>
          </ul>
        </div>
    </nav>

<!--
|||||||||||||||||||||||||||||||||||||||||
HEADER
|||||||||||||||||||||||||||||||||||||||||
-->
    <header id="top">
      <div class="container">
        <h5 class="custom_subheading white_font">Welcome to your future!</h5>
        <h1 class="custom_heading white_font">IT'S NICE TO MEET YOU</h1>
        <div class="button_container buttom_margin">

            <form class="home_button" action="/users/sign_up">
              <input class="standard_button" type="submit" value="SIGN UP">
            </form>

            <form class="home_button" action="/users/sign_in">
                <input class="standard_button" type="submit" value="LOG IN">
            </form>
        </div>
      </div>
    </header>

<!--
|||||||||||||||||||||||||||||||||||||||||
ABOUT
|||||||||||||||||||||||||||||||||||||||||
-->
    <section id="about">
      <div class="container">
        <div class="col-lg-12">
          <h2 class="custom_heading">ABOUT</h2>
          <p>
            When you hit the gym, do you still carry a notebook or crumpled sheet of paper to all the stations and machines? Don't! There are better ways to keep track of your sets and reps and with INTERSECT we've brought the same experience straight to your phone. INTERSECT gives you simple tools for crafting weight-lifting workouts and keeping track of the details as you complete your routines. Stop spending all your energy trying to come up with a workout and pick from one of the many that our trainers have created for you!
          </p>
        </div>
      </div>
    </section>

<!--
|||||||||||||||||||||||||||||||||||||||||
PROGRAM
|||||||||||||||||||||||||||||||||||||||||
-->
    <section id="program">
      <div class="container">
        <div class="col-lg-12">
          <h2 class="custom_heading">THE PROGRAM</h2>

          <div class="col-lg-4">
            <h4 class="subheading">Strength</h4>
            <img src="" alt="" />
            <p>
              Strength training is a type of physical exercise specializing in the use of resistance to induce muscular contraction which builds the strength, anaerobic endurance, and size of skeletal muscles. From lifting weights at the gym to other casual workout routines such as push-ups or sit-ups, building your strength has benifits in daily life.  Beyond the obvious benifits recent studies have shown that the presence of increased lean muscle boosts our daily motabolism and generates more static calories to be burnt.  For someoneone looking to drop a few pounds you might want to consider adding some strength training to your daily routine.
            </p>
          </div>

          <div class="col-lg-4">
            <h4 class="subheading">Endurance</h4>
            <img src="" alt="" />
            <p>
              Endurance training is the act of exercising to increase ones endurance. The term endurance training generally refers to training the aerobic system as opposed to anaerobic. From cross country runnings to quick interval curcit training, building your endurance has benifits beyond the gym.  While recent findings suggest it improves the length of ones life it has been reported by those who do it that the quality of life improves significantly.  In general terms, endurance training has been defined as the ability to persist on strenuous physical activity for prolonged periods of time.
            </p>
          </div>

          <div class="col-lg-4">
            <h4 class="subheading">Flexability</h4>
            <img src="" alt="" />
            <p>
              Flexibility training is perhaps the most undervalued component of conditioning. While recent and ongoing debate questions its role in injury prevention, athletes can still gain much from a stretching regime. From a volleyball spike to a rugby drop kick, flexibility of the bodys muscles and joints play an integral part in many athletic movements. In general terms, flexibility has been defined as the range of motion about a joint and its surrounding muscles during a passive movement. Passive in this context simple means no active muscle involvement is required to hold the stretch. Instead gravity or a partner provides the force for the stretch.
            </p>
          </div>
        </div>
      </div>
    </section>

<!--
|||||||||||||||||||||||||||||||||||||||||
STORIES
|||||||||||||||||||||||||||||||||||||||||
-->
    <section id="stories">
      <div class="container">
        <h2 class="custom_heading">SUCCESS STORIES</h2>

        <div class="col-lg-12">
          <h4 class="subheading">Jason</h4>
          <p class="col-lg-6">
            <strong>Pounds lost:</strong> 35
            <br />
            <br />
            <strong>Turning point:</strong> My 'aha!' moment was during my junior year of college—I had gone through a bad breakup and had been treating my body horribly. I was sick of being insecure about my body (and getting winded walking up to my fourth-floor apartment), and I knew that if I wanted the confidence to start dating again, I needed to make a change.
            <br />
            <br />
            <strong>Weight-loss tip:</strong> Make lifestyle changes, don't 'go on a diet.' Diets are temporary and so are the results. If you make permanent changes, you get permanent results.
          </p>
          <div class="col-lg-6">
            <img src="" alt="" />
          </div>
        </div>

        <div class="col-lg-12">
          <h4 class="subheading">Scott</h4>
          <div class="col-lg-6">
            <img src="" alt="" />
          </div>
          <p class="col-lg-6">
            <strong>Pounds lost:</strong> 120
            <br />
            <br />
            <strong>Turning point:</strong> I was a competitive athlete growing up, playing all kinds of sports at a high level. When a knee injury in college forced me to stop training, I eventually found myself sitting behind a desk, eating nothing but takeout, and 120 pounds heavier—for about six years. During that time, my friends and family were relentless, constantly commenting on and mocking my weight until I'd finally had enough. I decided it was time to do something about it.
            <br />
            <br />
            <strong>Weight-loss tip:</strong> The hardest part of losing weight isn't working out or knowing what to eat, it's committing! Find a training partner to help keep you accountable. It's easier to reach your goals if someone is expecting you at the gym every day or if you have a gym buddy that you simply enjoy working out with to help make it fun.
          </p>
        </div>

        <div class="col-lg-12">
          <h4 class="subheading">Jen</h4>
          <p class="col-lg-6">
            <strong>Pounds lost:</strong> 40
            <br />
            <br />
            <strong>Turning point:</strong> My 'freshman 15' was more like the 'freshman 40.' I was a huge emotional eater. I would eat when I was stressed, happy, sad—it didn’t matter. I felt embarrassed trying on clothes when I'd have to secretly ask the sales lady to bring me a larger size. I felt drained from the life that I was leading, and I knew that if I didn’t make a change soon, my weight would continue to balloon and my health would suffer. I am proud to say that I changed my lifestyle by forming great habits and I've never turned back.
            <br />
            <br />
            <strong>Weight-loss tip:</strong> There is no magic pill or potion for getting fit. I learned this through my own trials and errors until I was finally able to kick bad habits and embrace health and fitness as a lifestyle.
          </p>
          <div class="col-lg-6">
            <img src="" alt="" />
          </div>
        </div>

      </div>
    </section>


    <footer>
      <p class="footer_font">Copyright 2016 LeCloset | Los Angeles CA </p>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- Custom JS -->

  </body>
</html>
