<!-- HOME PAGE -->
<nav class="nav_bar">
  <div class="nav_left">
    <!-- Logo image -->
    <a href="/"><img id="logo_nav" src="../images/le_closet_logo.png" alt="company logo" /></a>
  </div>

  <div>
      <$ if (user) { $>
        <!-- My Closet -->
        <div class="nav_container_2">
          <div id="my_closet" class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
            <button type="button">My Closet</button>

          </div>

          <strong class="joiner">or</strong>

          <!-- LogOut -->
          <div id="log_out" class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
            <button type="button">Log Out</button>

          </div>
        </div>

      <$ } else { $>
        <!-- Login -->
      <div class="nav_container_2">
        <div id="modal_login1" class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
          <button type="button">Login</button>
          <div class="morph-content">
            <div>
              <div class="content-style-form content-style-form-1">
                <span class="icon icon-close x">X</span>
                <img class="logo_modal" src="../images/le_closet_logo.png" alt="company logo" />
                <h4 class="center_me modal_header">Welcome Home</h4>

                <a href="#" id="login" ><img class="google" src="../images/oauthGoogle.png" alt="" /></a>

                <form class="login_form_hidden">
                  <p><label>Gender</label><input id="user_gender1" type="text" /></p>
                  <p><button id="lets_do_this1">Lets Do This</button></p>
                </form>

              </div>
            </div>
          </div>
        </div>

        <strong class="joiner">or</strong>

        <!-- Register -->
        <div id="modal_login2" class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
          <button type="button">Register</button>
          <div class="morph-content">
            <div>
              <div class="content-style-form content-style-form-1">
                <span class="icon icon-close x">X</span>
                <img class="logo_modal" src="../images/le_closet_logo.png" alt="company logo" />
                <h4 class="center_me modal_header">Join Le Community</h4>

                <a href="#" id="register" ><img class="google" src="../images/oauthGoogle.png" alt="" /></a>

                <form class="login_form_hidden">
                  <p><label>Gender</label><input id="user_gender2" type="text" /></p>
                  <p><button id="lets_do_this2">Lets Do This</button></p>
                </form>

              </div>
            </div>
          </div>
        </div>

      </div>

      <$ } $>

      <div class="nav_container_1">
        <ul class="">
          <li><a href="#about">About</a></li>
          <li><a href="#le_closet">Le Closet</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>

  </div>
</nav>

<!--
|||||||||||||||||||||||||||||||||||||||||
HEADER
|||||||||||||||||||||||||||||||||||||||||
-->

<header id="headerOne">
  <div class="container">
    <h5 class="hero_subheading">Retail therapy stored in one place</h5>
    <h1 class="hero_heading">What's in your closet?</h1>
  </div>
</header>

<!--
|||||||||||||||||||||||||||||||||||||||||
ABOUT
|||||||||||||||||||||||||||||||||||||||||
-->
<section id="about">
  <div class="container">
    <div class="col-lg-12">
      <h2 class="section_heading">\ About \</h2>

      <div class="col-lg-4">
        <h4 class="subheading">Inspiration</h4>
        <img src="" alt="" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>

      <div class="col-lg-4">
        <h4 class="subheading">Collaboration</h4>
        <img src="" alt="" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>

      <div class="col-lg-4">
        <h4 class="subheading">Quality</h4>
        <img src="" alt="" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</section>

<!--
|||||||||||||||||||||||||||||||||||||||||
LE CLOSET
|||||||||||||||||||||||||||||||||||||||||
-->
<section id="le_closet">
  <div class="container">
    <h2 class="section_heading">\ Le Closet \</h2>

    <div class="col-lg-12">
      <h4 class="subheading">Search Your Favorite Brands</h4>
      <p class="col-lg-6">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <div class="col-lg-6">
        <img src="" alt="" />
      </div>
    </div>

    <div class="col-lg-12">
      <h4 class="subheading">Find Your Favorite Products</h4>
      <div class="col-lg-6">
        <img src="" alt="" />
      </div>
      <p class="col-lg-6">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>

    <div class="col-lg-12">
      <h4 class="subheading">Create the Perfect Outfit</h4>
      <p class="col-lg-6">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <div class="col-lg-6">
        <img src="" alt="" />
      </div>
    </div>

  </div>
</section>

<!--
|||||||||||||||||||||||||||||||||||||||||
CONTACT
|||||||||||||||||||||||||||||||||||||||||
-->
<section id="contact">
  <div class="container">
    <div class="col-lg-12">
      <h2 class="section_heading">\ Contact \</h2>

      <div class="col-lg-4">
        <img src="../images/ava.png" alt="" class="founder_image"/>
        <h3 class="subheading">Kayli Nishime</h3>
        <h5 class="center_me">Founder</h5>
        <p class="center_me"><a href="#">Faceboook</a> - <a href="#">Instagram</a> - <a href="#">Twitter</a></p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>

      <div class="col-lg-4">
        <img src="../images/ava.png" alt="" class="founder_image"/>
        <h3 class="subheading">Chris Lopez</h3>
        <h5 class="center_me">Founder</h5>
        <p class="center_me"><a href="#">Faceboook</a> - <a href="#">Instagram</a> - <a href="#">Twitter</a></p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>

      <div class="col-lg-4">
        <img src="../images/ava.png" alt="" class="founder_image"/>
        <h3 class="subheading">Billy Pruden</h3>
        <h5 class="center_me">Founder</h5>
        <p class="center_me"><a href="#">Faceboook</a> - <a href="#">Instagram</a> - <a href="#">Twitter</a></p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>

    </div>
  </div>
</section>

<footer>
  <p class="footer_font">LE CLOSET | Copyright 2016 | Los Angeles CA </p>
</footer>
