<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Le Closet </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Google Fonts RALEWAY-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,600,800" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/style.css" rel="stylesheet" src="../public/stylesheets/styles.css">

  </head>
  <body>

    <%- body %>

    <!-- jQuery -->
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    
    <!-- Custom JS -->
    <script type="text/javascript" src="../javascript/main.js"></script>
  </body>
</html>
