<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Le Closet </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:300italic,300,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://npmcdn.com/flickity@2.0/dist/flickity.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/component.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/demo.css" />

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/mycloset.css" />
    <script src="../javascript/modernizr.custom.js"></script>
    <!-- <link href="stylesheets/style.css" rel="stylesheet" src="../public/stylesheets/style.css"> -->

  </head>
  <body>

    <%- body %>

    <!-- Custom JS -->
    <script src="https://npmcdn.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>
  	<script src="https://npmcdn.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>

    <script type="text/javascript" src="../javascript/main.js"></script>
    <script type="text/javascript" src="../javascript/mycloset.js"></script>
  </body>
</html>
