<!-- PRODUCTS PAGE -->

<!--
|||||||||||||||||||||||||||||||||||||||||
HEADER
|||||||||||||||||||||||||||||||||||||||||
-->

<% include ../views/partials/nav.ejs %>

<header>

  <div>



 </div>
		<div class="box">
			<ul id="ldd_menu" class="ldd_menu">
				<li>
					<span>Search Retailers</span>
					<div class="ldd_submenu">

						<ul id = "limheight">
              <% retailers.forEach(function(retailer) { %>
                <div class="row">
                  <div class="col-md-4">
                    <li class="retailers">
                      <% if (user.retailers.indexOf(retailer.id) > -1) {%>
                        <input type="checkbox" class="cbox1" value="first_checkbox" checked >
                          <label data-id="<%= retailer.id %>"><%= retailer.name %></label>
                        </input>
                      <%} else {%>
                        <input type="checkbox" class="cbox1" value="first_checkbox">
                          <label data-id="<%= retailer.id %>"><%= retailer.name %></label>
                        </input>
                      <%}%>
                    </li>
                  </div>
                </div>
              <% }) %>
						</ul>

						<a class="ldd_subfoot" href="#"> + New Deals</a>
					</div>
				</li>

			</ul>
		</div>
</header>

<div class="row">
    <div class="col-md-10">
      <div class='uil-ring-css' style='transform:scale(0.59);'><div></div></div>
    </div>
</div>
