<!-- PRODUCTS PAGE -->

<!--
|||||||||||||||||||||||||||||||||||||||||
HEADER
|||||||||||||||||||||||||||||||||||||||||
-->

<$ include ../views/partials/nav.ejs $>

<header>
	<div class="box">
		<ul id="ldd_menu" class="ldd_menu">
			<li>
				<span>Search Retailers</span>
				<div class="ldd_submenu">
					<ul id="limheight">
						<$ retailers.forEach(function(retailer) { $>
							<div class="row">
								<div class="col-md-4">
									<li class="retailers">
										<$ if (user.retailers.indexOf(retailer.id) > -1) { $>
											<input type="checkbox" class="cbox1" value="first_checkbox" checked>
												<label data-id="<$= retailer.id $>">
													<$=retailer.name $>
												</label>
											</input>
										<$ } else { $>
											<input type="checkbox" class="cbox1" value="first_checkbox">
												<label data-id="<$= retailer.id $>">
													<$=retailer.name $>
												</label>
											</input>
										<$ } $>
									</li>
								</div>
							</div>
						<$ }); $>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</header>

<script type="text/template" id="product-template">
	<span><%= name %></span>
</script>

<div class="row">
	<% products.forEach(function(products) { %>
		<div class="col-md-10">
			<div class='uil-ring-css' style='transform:scale(0.59);'>
				<div></div>
			</div>
		</div>
		<div class="view">
			<div>
				<li class="product-item"></li>
			</div>
			<div id="images">
				<div class="grid__item shirts">
					<div class="slider">
						<div class="slider__item">
							<!-- APPEND OBJECT HERE -->
							<img src="../images/dress.png">
						</div>
					</div>
					<div class="meta">
						<h3 class="meta__title">Miriam Classic</h3>
						<span class="meta__brand">Miriam</span>
						<span class="meta__price">$79</span>
					</div>
					<button class="action action--button action--buy">
						<i class="fa fa-shopping-cart"></i>
						<span class="text-hidden">Add to cart</span>
					</button>
				</div>
			</div>
		</div>
</div>
