<!-- PRODUCTS PAGE -->

<!--
|||||||||||||||||||||||||||||||||||||||||
HEADER
|||||||||||||||||||||||||||||||||||||||||
-->
<header>
	<$ include ../views/partials/nav.ejs $>
</header>

<!-- Drop Down Menu -->
<section id="drop-down">
	<div class="box">
		<ul id="ldd_menu" class="ldd_menu">
			<li>
				<span>Search Retailers</span>
				<div class="ldd_submenu">
					<ul id="limheight">
						<$ retailers.forEach(function(retailer) { $>
							<div class="row">
								<div class="col-md-4">
									<li class="retailers">
										<$ if (user.retailers.indexOf(retailer.id) > -1) { $>
											<input type="checkbox" class="cbox1" value="first_checkbox" checked>
												<label data-id="<$= retailer.id $>">
													<$=retailer.name $>
												</label>
											</input>
										<$ } else { $>
											<input type="checkbox" class="cbox1" value="first_checkbox">
												<label data-id="<$= retailer.id $>">
													<$=retailer.name $>
												</label>
											</input>
										<$ } $>
									</li>
								</div>
							</div>
						<$ }); $>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</section>




<script type="text/template" id="product-template">

	<div class="thumbnail">
		<div class="caption">
			<img class="activator" src="<%= image.sizes.Best.url %>" width="280" height="350">
			<p class="product-name"><%= unbrandedName %></p>
			<p>...</p>
			<a href="#" class="btn btn-primary" role="button">Button</a>
			<a href="#" class="btn btn-default" role="button">Button</a>
		</div>
	</div>

</script>



<div class="product-item">

</div>
